<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width-device-width,initial-scale-1">
	<title>Portal de notícias</title>
</head>
<body>
<h1>Formulário de Inclusão de Notícia</h1>
<p>Aqui você pode adcionar novas notícias</p>
</body>
</html>